<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">Dinosaurios</a>
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/insertar-dinos" href="">Agregar Dinosaurios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/listar-dinos" href="">
          Ver Dinosaurios
        </a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/acerca-de" href="">
          Acerca de
        </a>
      </li>-->
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>