<h2 >Editar Dinosaurio</h2>

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card-body">
            <form >
               <!--Mensaje de error-->
                
               <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    <input type="text" class="form-control" formControlName="nombre"/>

                    <div style="color: red;" *ngIf="">
                        este campo es obligatorio
                    </div>
                </div>

                <div class="form-group">
                    <label for="tipo">Tipo: </label>
                    <select class="custom-select form-control" formControlName="tipo">
                    <option value="">selecciona el tipo...</option>
                    <option *ngFor="" value=""></option>
                    
                    </select>
                </div>
                <div style="color: red;" *ngIf="">
                        este campo es obligatorio
                    </div>

                <div class="form-group">
                    <label for="genero">Género: </label>
                    <select class="custom-select form-control" formControlName="genero">
                    <option value="">selecciona el género...</option>
                    <option *ngFor="" value=""></option>
                    
                    </select>
                </div>
                <div style="color: red;" *ngIf="">
                    este campo es obligatorio
                </div>

                <div class="form-group">
                    <label for="peso">Peso: </label>
                    <input type="text" class="form-control" formControlName="peso"/>
                </div>
                <div style="color: red;" *ngIf="">
                    este campo es obligatorio
                </div>
                
                <div class="form-group">
                    <label for="tamanio">Tamaño: </label>
                    <input type="text" class="form-control" formControlName="tamanio"/>
                </div>

                <div style="color: red;" *ngIf="">
                    este campo es obligatorio
                </div>

                <div class="form-group">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Agregar</button>
                </div>
            </form>
            
        </div>
    </div>
</div>