/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: jurassicPark;
    src: url(/src/assets/fonts/african.ttf);
}

#jurassic{
    font-family: jurassicPark;
}

body{
    font-family: jurassicPark;
}